{% extends 'Blog/base.html' %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row justify-content-left">
    <div class="col-10">
      <h2 class="text-center"><b>{{post.title}}</b></h2>
      <div class="row justify-content-center">
        <div class="col-10">
          <img class="rounded-circle article-img rounded float-left" src="{{ user.profile_picture.url }}" alt="ads" style="height: 100px; width: 100px;">
          <a href="" class="text-success"><b>{{post.author}}</b></a>
          <small class="text-muted text-left">{{post.date_posted}}</small><br>
        </div>
      </div>
      <br>
      {% ifequal request.user post.author %}
        <a href="{% url 'post-update' post.slug %}" class="p-3 m-3"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>Update</a>
        <a href="{% url 'post-delete' post.slug %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-x-fill" viewBox="0 0 16 16">
        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.854 7.146L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708z"/>
        </svg>Delete</a>
        <br>
      {% endifequal %}
      <br>
      <img src="{{post.image.url}}" class="img-thumbnail" alt="..."><br><br><br>
      {{post.content|linebreaks}}
    </div>
  </div>
</div>
    <br>
{% endblock content %}